<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @message.title %></h1>
    <p>
      <%= @message.body %>.<br/>
    </p>
    <p>
      To reply to this email, follow this link: <%= @url %>.
    </p>
    <p>
      Thanks for joining and have a great day!
    </p>
  </body>
</html>