.admin_wrapper
  = link_to 'Posts', '/admin/posts', class: 'contact_btn'
  = link_to 'Categories', '/admin/categories', class: 'contact_btn'
  = link_to 'Locations', '/admin/locations', class: 'contact_btn'
