@import 'bourbon';
@import 'neat';
@import 'bars';
@import 'beer_stores';
@import 'breweries';
@import 'brewpubs';
@import 'cities';
@import 'comments';
@import 'devise';
@import 'home';
@import 'lodgings';
@import 'neighborhoods';
@import 'posts';
@import 'restaurants';
@import 'users';

$green: rgb(9,115,58);
$montserrat: 'Montserrat', sans-serif;
$source_sans_pro: 'Source Sans Pro', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
}

p, a, span, div, input {
  font-family: $source_sans_pro;
}

a, a:hover {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  padding: 10px 0;
  background-color: $green;

  .nav_wrapper {
    width: 960px;
    margin: 0 auto;
  }

  a, a:hover {
    color: white;
  }

  .logo,
  .alerts {
    float: left;
  }

  .logo {
    margin-top: 10px;

    a {
      font-size: 38px;
      position: relative;
      top: 8px;
    }
  }

  .alerts {
    margin-left: 100px;
    width: 60%;
    position: absolute;

    .alert,
    .notice {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      color: white;
    }

  }

  .status {
    float: right;
    margin-top: -6px;

    form, a, span {
      float: right;
    }

    span {
      color: white;
    }

    .divider {
      margin: 0 10px;
      color: white;
    }

    input {
      margin: 0;
      padding: 0;
      font-size: 16px;
      background: $green;
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  .navbar {
    list-style: none;
    position: relative;
    top: 33px;
    left: 30px;
    margin: 0;

    .nav_item {
      display: inline-block;
      border: 2px solid white;
      padding: 6px 70px 6px 10px;
      margin: 0 2px;
      position: relative;

      ul {
        overflow: hidden;
        position: absolute;
        margin-top: 10px;
        background-color: white;
        top: 22px;
        left: -5px;
        padding-left: 10px;
        width: 131px;
        height: 0px;
        @include transition (height 0.1s);
        opacity: 0;

        li {
          list-style: none;
          width: 100px;
          border-top: 1px solid green;
          padding: 2px 0 5px;

          a {
            font-size: 13px;
            color: $green;
          }

        }

        li:first-of-type {
          margin-top: 5px;
        }
      }

    }

    .nav_item:hover {

      ul {
        opacity: 1;
        border-width: 0 3px 3px;
        border-style: solid;
        height: 94px;
      }

    }

    .active {
      background-color: white;
      color: $green;
    }

    .inactive {
      background-color: $green;
      color: white;
    }
  }
}

.nav_item ul {

}

.nav_item:hover ul {

}

.main {
  width: 960px;
  margin: 30px auto 0;
}