.categories_wrapper {
  width: 720px;
  margin: 0 auto;

  textarea {
    outline: none;
  }

  .contact_btn {
    cursor: pointer;
  }

  .ui-icon {
    background-image: url("green_icon_set.png");
    display: inline-block;
    position: relative;
    top: 2px;
    left: -2px;
  }

  .no_height .ui-icon {
    background-position: -49px -192px;
  }

  .expanded .ui-icon {
  background-position: -65px -192px;
  }

  h2 {
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 1.9em;
  }

  .form_wrapper {
    margin: 0;
    height: 0;
    overflow: hidden;

    label {
      width: 270px;
      display: block;
      margin-bottom: 5px;
    }

    input.button {
      margin: 5px 0 0;
    }

    .text textarea {
      height: 50px;
      width: 360px;
    }
  }

  label abbr {
    display: none;
  }
}

.category_list {
  padding-left: 0;
  margin-top: 20px;

  li {
    list-style-type: none;
    color: $green;
    padding: 5px 10px 7px;
    border-top: 2px solid $green;
    font-size: 1.2em;
  }

  li:last-of-type {
    border-bottom: 2px solid $green;
  }
}

.list_item {

  a,
  form {
    float: right;
  }

  form {
    display: inline;
  }
}

.green-btn {
  background: $green;
  width: 60px;
  text-align: center;
  color: white!important;
  border-radius: 5px;
  font-size: 16px!important;
  padding: 4px 0;
  margin-left: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: -1px;
  display: inline-block!important;
}

.ui-dialog {

  .ui-widget-header {
    border: 2px solid $green;
    background-color: $green;
    background-image: none;
    font-weight: bold;

    .ui-dialog-title {
      color: white;
    }

    button {
      background: none;
      border: none;
      outline: none;
      background-color: $green!important;
    }

    .ui-state-default .ui-icon {
      background-image: url("white_icon_set.png");
    }
  }

  .label {
    display: inline-block;
    width: 70px;
  }

  p:first-of-type {
    margin: 5px 0 0;
  }

  p:last-of-type {
    margin-top: 5px;
  }

  form {
    margin-top: 20px;
  }

  .wide {
    width: 150px;
  }

  .wide.green-btn {
    margin: 0px auto 20px;
  }

  .button_wrapper {
    width: 195px;
    margin: 0 auto;
  }

  #category_name {
    margin: 30px auto 0;
    display: block;
  }

  input {
    outline: none;
  }
}
