.form_wrapper {
  width: 470px;
  margin: 50px auto 0;

  label {
    width: 200px;
    display: inline-block;
  }

  input:not([type='checkbox']),
  textarea {
    width: 260px;
  }

  input[type=checkbox] {
    margin-left: 160px;
    margin-right: 10px;
  }

  input.button {
    width: 120px;
    display: block;
    margin: 20px auto;
  }

  a {
    text-align: center;
    display: block;
  }
}
