.accordion_wrapper {
  max-width: 60%;

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: 2px solid $green;
    color: $green;
    background-image: none!important;
    background-color: white;
    @include transition(background-color 0.6s, color 0.6s)
  }

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active {
    color: white;
    background-color: $green;
  }

  .ui-state-default .ui-icon {
    background-image: url("green_icon_set.png");
    @include transition(background-image 0.6s)
  }

  .ui-state-active .ui-icon {
    background-image: url("white_icon_set.png");
  }

  .ui-widget-content {
    border: 2px solid green;
    color: rgb(80,80,80);
  }

}

.contact_btn {
  display: inline-block;
  color: white;
  background-color: $green;
  padding: 10px 20px;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
}

.welcome_header {
  display: inline-block;
}


